## 加载数据 跑模型 然后切换路劲保存模型

In [17]:
import os,sys
from sklearn.linear_model import LogisticRegression
import pandas as  pd
from sklearn.cross_validation import train_test_split
from sklearn.externals import joblib
##改变保存路劲
ttt =pd.read_csv("C:\\Users\\Administrator\\Desktop\\testingData\\testing.csv",encoding='gbk')
ttt=ttt[['count_jiedai','AVG(DIALED)','y']]
ttt = ttt.dropna(axis = 0,how='any')
clf = LogisticRegression()
x_train,x_test,y_train,y_test=train_test_split(ttt.drop(["y"],axis=1),ttt["y"],test_size=0.3) 
clf.fit(x_train,y_train)
os.chdir("C:\\Users\\Administrator\\Desktop\\reading")
joblib.dump(clf, "train_model.m")

['train_model.m']

## 加载原来的模型

In [21]:
os.chdir("C:\\Users\\Administrator\\Desktop\\testingData")
os.chdir("C:\\Users\\Administrator\\Desktop\\reading")
aaa = joblib.load("train_model.m")
print(x_test)
aaa.predict_proba(x_test)

        count_jiedai   AVG(DIALED)
93557              2   3587.714286
76214              1  35713.200000
68570              1  10528.250000
76648              2  11118.875000
91791              2  16017.800000
149833             3  12777.636360
124841             1  25428.600000
88208              1  14331.800000
37531              1  10572.800000
16049              4   7379.916667
124806             3   7222.125000
140605             4  34342.000000
80468              1  12459.000000
107963             1  47538.400000
40161              1   3557.200000
64254              1  24491.400000
118263             2  17947.400000
157321             1   6407.666667
91917              2   4521.818182
34793              2   9408.125000
89984              1   1342.800000
53192              1  17818.000000
22795              1  10617.600000
71724              1  18270.750000
51318              1   1936.600000
101077             1  19049.800000
41682              1  18044.400000
2596               2  30143.000000
99516              1  14194.250000
161432             3  22760.250000
...              ...           ...
160879             2  17662.800000
35814              2   7007.400000
9517               2  11220.285710
160522             1  10937.500000
4323               3  13386.750000
83786              1   4176.363636
43740              4  15569.272730
42483              2  10446.700000
41962              3  18405.600000
144808             1   8353.200000
125439             1  13200.200000
89374              1  11019.428570
59772              2   7983.600000
84347              3   9438.666667
103239             2  12248.000000
83614              1   8241.875000
158160             1   4321.600000
159710             2  12112.375000
38213              1   4448.200000
64706              2   7528.777778
143344             4  13373.375000
98740              2  20588.727270
47785              2   4878.750000
118500             1   9617.800000
152419             2  23179.000000
87331              1  21335.000000
105692             1  10019.800000
153820             2  10109.250000
141583             1   6654.800000
156386             2  14934.571430

[49016 rows x 2 columns]

array([[ 0.84502315,  0.15497685],
       [ 0.77460502,  0.22539498],
       [ 0.76884968,  0.23115032],
       ...,
       [ 0.84612786,  0.15387214],
       [ 0.76795545,  0.23204455],
       [ 0.84694109,  0.15305891]])

In [51]:
import numpy as np
q=20/np.log(20/10)
p=720-q*(np.log(20))
zzzzz = aaa.predict_proba(ttt.drop(['y','s','score'],axis=1))[:,1]
zzzzz0 = aaa.predict_proba(ttt.drop(['y','s','score'],axis=1))[:,0]
ttt['score'] = p+q*np.log(zzzzz0/zzzzz)
ttt

        count_jiedai   AVG(DIALED)  y   s       score
0                  2   3482.800000  0  12  682.496275
1                  2  17394.875000  0  12  683.017022
2                  3   1176.400000  0  12  696.931096
3                  2  47105.000000  0  12  684.129111
4                  3   4094.300000  0  12  697.040317
5                  3  25979.300000  0  12  697.859501
6                  4  29157.555560  0  12  712.499621
7                  3  23094.125000  0  12  697.751506
8                  2  10149.800000  0  12  682.745829
9                  2  21270.625000  0  12  683.162097
10                 2   7891.250000  0  12  682.661289
11                 1   8913.600000  0  12  668.178404
12                 2  11263.750000  0  12  682.787526
13                 4  33512.000000  0  12  712.662613
14                 1  12148.750000  0  12  668.299500
15                 3  10713.250000  0  12  697.288073
16                 2  22054.250000  0  12  683.191429
17                 3  33066.000000  0  12  698.124766
18                 4   5045.000000  0  12  711.597056
19                 1  11554.800000  0  12  668.277267
20                 1   4434.200000  1  12  668.010734
21                 2   4641.800000  1  12  682.539658
22                 3  12773.444440  0  12  697.365189
23                 1  16732.800000  0  12  668.471087
24                 3   9626.500000  0  12  697.247395
25                 2  40391.222220  0  12  683.877806
26                 1   7252.400000  0  12  668.116223
27                 2   5946.571429  0  12  682.588497
28                 2   5777.777778  0  12  682.582179
29                 3  38858.571430  0  12  698.341589
...              ...           ... ..  ..         ...
163367             3  10583.125000  0  12  697.283202
163368             2   8305.857143  1  12  682.676808
163369             3  39916.571430  0  12  698.381192
163370             1  12084.600000  0  12  668.297098
163371             2  27111.200000  0  12  683.380717
163372             1  10904.200000  0  12  668.252915
163373             2  12490.875000  0  12  682.833459
163374             1  28099.600000  0  12  668.896561
163375             1  17019.400000  0  12  668.481814
163376             1  10685.800000  0  12  668.244740
163377             2  16349.375000  0  12  682.977888
163378             4   2991.400000  0  12  711.520187
163379             1  13345.750000  0  12  668.344305
163380             1  87283.125000  0  12  671.111878
163381             1   4621.600000  0  12  668.017749
163382             1  18271.200000  0  12  668.528671
163383             2   7748.750000  0  12  682.655955
163384             1   4187.600000  1  12  668.001503
163385             1  60463.444440  0  12  670.107982
163386             1  14087.600000  1  12  668.372073
163387             1   6948.600000  0  12  668.104851
163388             3  18473.625000  0  12  697.578554
163389             2   6475.666667  0  12  682.608302
163390             3  13135.285710  0  12  697.378733
163391             3  10117.625000  0  12  697.265778
163392             2  14088.875000  0  12  682.893274
163393             1   3464.000000  1  12  667.974418
163394             1   6360.800000  0  12  668.082849
163395             1  43668.800000  0  12  669.479336
163396             1  51079.000000  0  12  669.756710

[163386 rows x 5 columns]